<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;800;900&display=swap"
            rel="stylesheet"
        />

        <link rel="stylesheet" href="/css/style.css" />

        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"
            referrerpolicy="no-referrer"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.0/pace.min.js"
            referrerpolicy="no-referrer"
        ></script>
        <script src="/js/vendor.js" defer></script>

        <script src="/js/annotate.js" defer></script>

        <title>Annotate</title>
    </head>

    <body>
        <div id="preloader">
            <div id="loader"></div>
        </div>

        <header>
            <div class="header-logo">
                <a href="/">Annotatist</a>
            </div>
        </header>

        <nav class="navigation navigation--active">
            <div class="navigation__lines">
                <div class="navigation__line navigation__line--1"></div>
                <div class="navigation__line navigation__line--2"></div>
                <div class="navigation__line navigation__line--3"></div>
            </div>

            <div class="navigation__menu">
                <h1>Annotatist</h1>

                <div class="coordinates">
                    <div class="coordinates__box coordinates__box--yolo">
                        <h4 class="coordinates__title coordinates__title--yolo">Yolo</h4>
                        <p class="coordinates__value">
                            <% if (locals.modelCoordinates) { %> (
                            <span class="coordinates__value--yolo-y-min">
                                <%= modelCoordinates.yolo.yMin %> </span
                            >,
                            <span class="coordinates__value--yolo-x-min">
                                <%= modelCoordinates.yolo.xMin %> </span
                            >,
                            <span class="coordinates__value--yolo-y-max">
                                <%= modelCoordinates.yolo.yMax %> </span
                            >,
                            <span class="coordinates__value--yolo-x-max">
                                <%= modelCoordinates.yolo.xMax %>
                            </span>
                            ) <% } else { %> (
                            <span class="coordinates__value--yolo-y-min">--</span>,
                            <span class="coordinates__value--yolo-x-min">--</span>,
                            <span class="coordinates__value--yolo-y-max">--</span>,
                            <span class="coordinates__value--yolo-x-max">--</span>
                            ) <% } %>
                        </p>
                    </div>

                    <div class="coordinates__box coordinates__box--model-b">
                        <h4 class="coordinates__title coordinates__title--model-b">Model B</h4>
                        <p class="coordinates__value">
                            <% if (locals.modelCoordinates) { %> (
                            <span class="coordinates__value--model-b-y-min">
                                <%= modelCoordinates.modelB.yMin %> </span
                            >,
                            <span class="coordinates__value--model-b-x-min">
                                <%= modelCoordinates.modelB.xMin %> </span
                            >,
                            <span class="coordinates__value--model-b-y-max">
                                <%= modelCoordinates.modelB.yMax %> </span
                            >,
                            <span class="coordinates__value--model-b-x-max">
                                <%= modelCoordinates.modelB.xMax %>
                            </span>
                            ) <% } else { %> (
                            <span class="coordinates__value--model-b-y-min">--</span>,
                            <span class="coordinates__value--model-b-x-min">--</span>,
                            <span class="coordinates__value--model-b-y-max">--</span>,
                            <span class="coordinates__value--model-b-x-max">--</span>
                            ) <% } %>
                        </p>
                    </div>

                    <div class="coordinates__box coordinates__box--interpolation">
                        <h4 class="coordinates__title coordinates__title--interpolation">Interpolation</h4>
                        <p class="coordinates__value">
                            <% if (locals.modelCoordinates) { %> (
                            <span class="coordinates__value--interpolation-y-min">
                                <%= modelCoordinates.interpolation.yMin %> </span
                            >,
                            <span class="coordinates__value--interpolation-x-min">
                                <%= modelCoordinates.interpolation.xMin %> </span
                            >,
                            <span class="coordinates__value--interpolation-y-max">
                                <%= modelCoordinates.interpolation.yMax %> </span
                            >,
                            <span class="coordinates__value--interpolation-x-max">
                                <%= modelCoordinates.interpolation.xMax %>
                            </span>
                            ) <% } else { %> (
                            <span class="coordinates__value--interpolation-y-min">--</span>,
                            <span class="coordinates__value--interpolation-x-min">--</span>,
                            <span class="coordinates__value--interpolation-y-max">--</span>,
                            <span class="coordinates__value--interpolation-x-max">--</span>
                            ) <% } %>
                        </p>
                    </div>

                    <div class="coordinates__box coordinates__box--user">
                        <h4 class="coordinates__title coordinates__title--user">User</h4>
                        <p class="coordinates__value">
                            <% if (locals.userCoordinates) { %> (
                            <span class="coordinates__value--user-y-min"> <%= userCoordinates.yMin%> </span>,
                            <span class="coordinates__value--user-x-min"> <%= userCoordinates.xMin%> </span>,
                            <span class="coordinates__value--user-y-max"> <%= userCoordinates.yMax %> </span>,
                            <span class="coordinates__value--user-x-max"> <%= userCoordinates.xMax %> </span>
                            ) <% } else { %> (
                            <span class="coordinates__value--user-y-min">--</span>,
                            <span class="coordinates__value--user-x-min">--</span>,
                            <span class="coordinates__value--user-y-max">--</span>,
                            <span class="coordinates__value--user-x-max">--</span>
                            ) <% } %>
                        </p>
                    </div>

                    <div class="coordinates__box coordinates__box--error">
                        <h4 class="coordinates__title coordinates__title--error">Error</h4>
                        <p class="coordinates__value coordinates__value--error">
                            (
                            <span class="coordinates__value--error-y-min">--</span>,
                            <span class="coordinates__value--error-x-min">--</span>,
                            <span class="coordinates__value--error-y-max">--</span>,
                            <span class="coordinates__value--error-x-max">--</span>
                            )
                        </p>
                    </div>

                    <span class="coordinates__tooltip">(yMin, xMin, yMax, xMax)</span>
                </div>

                <ul class="navigation__file-list">
                    <% fileList.forEach(file => { %> <% if (file === fileList[frameNumber]) { %>
                    <li class="navigation__file-item navigation__file-item--active"><%= file %></li>
                    <% } else { %>
                    <li class="navigation__file-item"><%= file %></li>
                    <% } %> <% }); %>
                </ul>

                <div class="navigation__file-name">
                    <h4 class="navigation__file-title">Frame - <%= frameNumber + 1 %></h4>
                    <p class="navigation__file-value"><%= fileList[frameNumber] %></p>
                </div>
            </div>
        </nav>

        <main class="annotate">
            <% if (!locals.fileExists && frameNumber === 0) { %>
            <div class="resizable-box resizable-box--hidden">
                <div class="resizable-box__resizers-container">
                    <div class="resizable-box__resizer resizable-box__resizer--top-left"></div>
                    <div class="resizable-box__resizer resizable-box__resizer--top-right"></div>
                    <div class="resizable-box__resizer resizable-box__resizer--bottom-left"></div>
                    <div class="resizable-box__resizer resizable-box__resizer--bottom-right"></div>
                </div>
            </div>
            <% } else { %>
            <div class="resizable-box">
                <div class="resizable-box__resizers-container">
                    <div class="resizable-box__resizer resizable-box__resizer--top-left"></div>
                    <div class="resizable-box__resizer resizable-box__resizer--top-right"></div>
                    <div class="resizable-box__resizer resizable-box__resizer--bottom-left"></div>
                    <div class="resizable-box__resizer resizable-box__resizer--bottom-right"></div>
                </div>
            </div>
            <% } %>

            <div class="resizable-box-yolo"></div>
            <div class="resizable-box-model-b"></div>
            <div class="resizable-box-interpolation"></div>

            <img src="<%= imageURL %>" alt="Annotate Image" class="annotate__image" />

            <div class="control-buttons control-buttons--shrink">
                <div class="control-buttons__group">
                    <a
                        href="/annotate/<%= Math.max(frameNumber - 1, 0) %>"
                        class="button control-buttons__previous"
                        >&larr; Previous</a
                    >

                    <% if (locals.fileExists || frameNumber === 0) { %>
                    <button class="button control-buttons__reset control-buttons__disabled">Reset</button>
                    <% } else { %>
                    <button class="button control-buttons__reset">Reset</button>
                    <% } %>
                </div>

                <button class="button control-buttons__analyse">Analyse</button>

                <% if (locals.fileExists) { %>
                <a href="/annotate/<%= frameNumber + 1 %>" class="button">Next &rarr;</a>
                <% } else { %>
                <button class="button control-buttons__next">Next &rarr;</button>
                <% } %>
            </div>

            <form class="annotate-form" action="/annotate/<%= frameNumber + 1 %>" method="POST" hidden>
                <input class="annotate-form__yMin" type="hidden" name="yMin" value="0" />
                <input class="annotate-form__xMin" type="hidden" name="xMin" value="0" />
                <input class="annotate-form__yMax" type="hidden" name="yMax" value="0" />
                <input class="annotate-form__xMax" type="hidden" name="xMax" value="0" />
            </form>

            <span
                class="data"
                data-frame-number="<%= frameNumber %>"
                data-file-exists="<%= locals.fileExists %>"
            ></span>
        </main>
    </body>
</html>
